asn1crypto==1.3.0
certifi==2020.4.5.1
cffi==1.14.0
cryptography==3.2
idna==2.9
pycparser==2.20
PyMySQL==0.9.3
pyOpenSSL==19.1.0
PySocks==1.7.1
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
jsonschema==3.2.0
python-dateutil==2.8.0
requests==2.22.0
webencodings==0.5.1
xlrd==1.2.0

kaggle~=1.5.6